In [1]:
import sys
sys.path.append('..')

In [2]:
from utils import dump_jsonl, load_jsonl

In [3]:
import requests
import time
from tqdm.notebook import tqdm

/Users/imtk/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [4]:
# data = []
# n = 6000
# for roomid in tqdm(range(n), total=n):
#     url = f"http://181.215.78.221:5000/slurk/api/logs?room_id={roomid}"
#     response = requests.get(url, headers={"Authorization": "Bearer 00000000-0000-0000-0000-000000000000"})
    
#     if response.status_code==200:
#         row = response.json()
#         data.append(row)
        
# #     if len(data)>10:
# #         break
#     time.sleep(0.5)

# dump_jsonl("conversations.jsonl", data)

In [5]:
# rooms = []
# n = 6000
# for roomid in tqdm(range(n), total=n):
#     url = f"http://181.215.78.221:5000/slurk/api/rooms/{roomid}"
#     response = requests.get(url, headers={"Authorization": "Bearer 00000000-0000-0000-0000-000000000000"})
    
#     if response.status_code==200:
#         row = response.json()
#         rooms.append(row)
#     time.sleep(0.1)

In [6]:
# dump_jsonl("raw_data/rooms.jsonl", rooms)

In [7]:
rooms = load_jsonl("raw_data/rooms.jsonl")

Loaded 4979 records from raw_data/rooms.jsonl

In [8]:
conversations = load_jsonl("raw_data/conversations.jsonl")

Loaded 4979 records from raw_data/conversations.jsonl

In [9]:
filtered_conversations = []
potentially_bad_conversations = []

cc = 0
for conversation, room in zip(conversations, rooms):
    if len(conversation)==0:
        continue
    
    messages = []
    userids = set()
    for action in conversation:
        assert(action["room_id"]==room["id"])
        if action["event"]=="text_message":
            messages.append({
                "topic": room["topic"],
                "room_id": action["room_id"],
                "user_id": action["user_id"],
                "text": action["data"]["message"],
                "date_created": action["date_created"]
            })
            
            userids.add(action["user_id"])
    
    
    if len(userids) < 2:
        continue
        
    if len(messages) < 10:
        continue

    cnt = 0
    for m in messages:
        if len(m["text"])<3:
            cnt += 1
    
    if cnt/len(messages) > 0.2:
#         for m in messages:
#             print(f"user{m['user_id']}: {m['text']}")
        continue
    filtered_conversations.append(messages)

In [10]:
# dump_jsonl("filtered_conversations.jsonl", filtered_conversations)

## Annotated

In [11]:
import pandas as pd
data = filtered_conversations
labels = pd.read_csv("raw_data/task1_labels.csv")

In [12]:
cols = {
    "room_id": 'กรอก Room ID', 
    "code": 'กรอก Code', 
    "img":'อัปโหลดรูปที่แคปมา',
    "topic":'หัวข้อสนทนา (Topic)',
    "relationship":'คุณเรียกความสัมพันธ์นี้อย่างไร ? (How do you call your relationship ?)',
    "closeness":'ให้คะแนนระดับความสนิทสนม ความไว้เนื้อเชื่อใจ (Closeness, Trust and Commitment)',
    "authority":'ให้คะแนนระดับการให้เกียรติ การให้ความเคารพ (Authority,  and Respect)',
    "url":'กรอกลิงค์บทสนากรุณากรอก url ในรูปแบบดังนี้ http://181.215.78.221:5000/chat_room/{ตัวเลขห้อง}',
    "ethics" :"'ยินยอมเงื่อนไขที่กล่าวมาข้างต้นหรือไม่ ?'",
}

In [13]:
def closeness_to_eng(label):
    if label == 'สนิทกันมาก':
        return "1. Very Close"
    elif label == 'สนิทกัน' or label == 'สนิท':  # it was missed in the first annotation setting;
        return "2. Close"
    elif label == 'แค่คนรู้จักกัน':
        return "3. Know each other"
    elif label == 'ไม่รู้จักกัน':
        return "4. Don't know each other"
    elif label == 'ไม่ชอบหน้ากัน':
        return "5. Don't like each other"
        # return "4. Don't know each other"
    else:
        return None

def authority_to_eng(label):
    if label == "ให้เกียรติมาก":
        return "0. Very respect"
    elif label == "ให้เกียรติ":
        return "1. Respect"
    elif label == "ปกติ (สัมพันธ์แบบเท่าเทียมกัน)":
        return "2. Normal"
    elif label == "ไม่ให้เกียรติ":
        return "3. Not respect"
    else:
        return None

In [14]:
newdata = []

cc = 0

fix_labels = {
    912: "การตรวจสารเสพติด",
    2703: "มลพิษทางอากาศ",
    3338: "บ้าน",
    3704: "สื่อข่าว",
    3981: "มลพิษทางอากาศ",
    4397: "สัตว์เลี้ยง",
    4516: "การทำอาหาร",
    4585: "ร้านอาหาร",
    4671: "ภาพยนตร์",
}

for idx, row in enumerate(data):
    topic = row[0]["topic"]
    roomid = row[0]["room_id"]
    messages = []
    for m in row:
        messages.append({
            "user_id": m["user_id"],
            "text": m["text"],
            "date_created": m["date_created"]
        })
        
    messages.reverse()
    
    label = labels[labels["กรอก Room ID"]==roomid]
    
    relationship = None
    closeness = None
    authority = None
#     print(idx)
    if len(label)!=0:
        label = label.iloc[0]
        
        _topic = label[cols["topic"]]
        
        if roomid in fix_labels:
            _topic = fix_labels[roomid]
            topic = fix_labels[roomid]
            
        # if topic==_topic:
        #     cc += 1
        # else:
        #     print("ERROR", roomid, topic, _topic)
        #     for m in messages:
        #         print(m["user_id"], m["text"], m["date_created"])
        #     print("ERROR")
        
        relationship = label[cols["relationship"]]
        closeness = closeness_to_eng(label[cols["closeness"]])
        authority = authority_to_eng(label[cols["authority"]])
        # if pd.isna(authority):
        #     print(label[cols["closeness"]], label[cols["authority"]])
            
    else:
        cc += 1
        continue
        
    newdata.append({
        "topic": topic,
        "room_id": roomid,
        "messages": messages,
        "relationship": relationship,
        "closeness": closeness,
        "authority": authority
    })

In [15]:
"#Data", len(newdata)

('#Data', 1234)

In [16]:
dump_jsonl("./raw_data/annotated_conersations.jsonl", newdata)

Wrote 1234 records to ./raw_data/annotated_conersations.jsonl

In [17]:
annotated_conversations = load_jsonl("./raw_data/annotated_conersations.jsonl")

Loaded 1234 records from ./raw_data/annotated_conersations.jsonl

In [18]:
from itertools import groupby

def get_conversation(row):
    conversation = ""
    
    row["messages"].sort(key=lambda x: x["date_created"], reverse=False)
    
    users = {}
    for m in row["messages"]:
        if m["user_id"] not in users:
            username = "USR" if len(users.keys())==0 else "SYS"
            users[m["user_id"]] = username
            
    for m in row["messages"]:
        conversation += f"{users[m['user_id']]} {m['text']} \n"
#         conversation.append((users[m['user_id']], m['text']))
    
    return conversation


for conv in annotated_conversations:
    conv["conversations"] = get_conversation(conv)

In [30]:
set([conv["closeness"] for conv in annotated_conversations])

{'1. Very Close',
 '2. Close',
 '3. Know each other',
 "4. Don't know each other",
 "5. Don't like each other",
 None}

## Data Validation

In [31]:
validated_labels = pd.read_csv("raw_data/validated_labels.csv", skiprows=1, names=["room_id", "relationship", "closeness", "authority"])

In [32]:
validated_labels["closeness"].unique()

array(['สนิท', 'แค่คนรู้จักกัน', 'สนิทกันมาก', 'ไม่รู้จักกัน'],
      dtype=object)

In [33]:
validated_labels

,room_id,relationship,closeness,authority
0,2616,เพื่อน (Friend),สนิท,ปกติ (สัมพันธ์แบบเท่าเทียมกัน)
1,2504,เพื่อน (Friend),แค่คนรู้จักกัน,ให้เกียรติมาก
2,2505,เพื่อนร่วมงาน (Work colleague),สนิท,ปกติ (สัมพันธ์แบบเท่าเทียมกัน)
3,2495,เพื่อน (Friend),สนิท,ปกติ (สัมพันธ์แบบเท่าเทียมกัน)
4,2488,คนในครอบครัว (Family),สนิทกันมาก,ปกติ (สัมพันธ์แบบเท่าเทียมกัน)
...,...,...,...,...
245,760,เพื่อน (Friend),สนิท,ให้เกียรติ
246,763,เพื่อน (Friend),สนิท,ให้เกียรติ
247,768,เพื่อน (Friend),สนิท,ให้เกียรติ
248,2567,เพื่อน (Friend),สนิท,ปกติ (สัมพันธ์แบบเท่าเทียมกัน)
249,4400,เพื่อน (Friend),ไม่รู้จักกัน,ปกติ (สัมพันธ์แบบเท่าเทียมกัน)

#### Matching Accuracy

In [34]:
N = 0
matched = {
    "relationship":0,
    "closeness": 0,
    "authority": 0
}
for conv in annotated_conversations:
    d = validated_labels[validated_labels["room_id"]==(conv["room_id"])]
    if len(d)!=0:
        N += 1
#         print(conv.keys())
#         print(conv["relationship"])
#         print(conv["closeness"])
#         print(conv["authority"])
        
        
        auth = authority_to_eng(d["authority"].values[0])
        clos = closeness_to_eng(d["closeness"].values[0])
        # print(clos, conv["closeness"])
        if clos is None or auth is None:
            print(d, auth, clos)
            assert(False)
        
        if conv["authority"]==auth:
            matched["authority"] += 1
#         else:
#             print(conv["authority"], auth)
    
        if conv["closeness"]==clos:
            matched["closeness"] += 1
#         else:
#             print(conv["closeness"], clos)
N

250

In [35]:
N, matched["closeness"]/N, matched["authority"]/N

(250, 0.732, 0.74)

#### Weighted Kappa Score (IAA)

In [36]:
from sklearn.metrics import cohen_kappa_score

In [37]:
from collections import defaultdict

# ordinal_weights
def get_weights(categories):
    weights = defaultdict(dict)
    if len(categories)==3:
        mat = [[1.00, 0.67, 0.00], 
               [0.67, 1.00, 0.67], 
               [0.00, 0.67, 1.00]]
    elif len(categories)==4:
        mat = [[1.00, 0.83, 0.50, 0.00], 
               [0.83, 1.00, 0.83, 0.50], 
               [0.50, 0.83, 1.00, 0.83], 
               [0.00, 0.50, 0.83, 1.00]]
    elif len(categories)==5:
        mat = [[1, 0.9, 0.7, 0.4, 0.0], 
               [0.9, 1, 0.9, 0.7, 0.4], 
               [0.7, 0.9, 1, 0.9, 0.7], 
               [0.4, 0.7, 0.9, 1, 0.9],
               [0.0, 0.4, 0.7, 0.9, 1]]
    else:
        # Lazy to implement in case of len(categories) > 5
        raise Exception("No Implementation")
        
    for i, l in enumerate(categories): 
        for j, k in enumerate(categories): 
            weights[l][k] = mat[i][j]
    return weights


# (df["y1"], df["y2"], categories)
def cal_agreement(merged, categories, cat_column="label"):
    merged = merged.dropna()    
    cnt_matrix = defaultdict(dict)
    acc_matrix = defaultdict(dict)
    
    for l in categories: 
        for k in categories: 
            d = merged
            d = d[d[f"{cat_column}_x"]==k]
            d = d[d[f"{cat_column}_y"]==l]
            cnt_matrix[l][k] = len(d)
    
    for l in categories: 
        d = merged
        d = d[d[f"{cat_column}_x"]==l]
        acc_matrix["x"][l] = len(d)
        
        d = merged
        d = d[d[f"{cat_column}_y"]==l]
        acc_matrix["y"][l] = len(d)
    
    weights = get_weights(categories)
    
    N = len(merged)
    Pa = 0
    for l in categories: 
        for k in categories: 
            Pa += weights[l][k]*cnt_matrix[l][k]/N
    
    Pe = 0
    for l in categories: 
        for k in categories: 
            Pe += weights[l][k]*(acc_matrix["x"][l]/N)*(acc_matrix["y"][k]/N)
    
    if Pe==1:
        raise Exception("Divide by zero")
    
    kappa = (Pa-Pe)/(1-Pe)
    return kappa

### Respect

In [38]:
df = []
for conv in annotated_conversations:
    d = validated_labels[validated_labels["room_id"]==(conv["room_id"])]
    if len(d)!=0:
        N += 1
#         print(conv.keys())
#         print(conv["relationship"])
#         print(conv["closeness"])
#         print(conv["authority"])
        
        
        auth = authority_to_eng(d["authority"].values[0])
        clos = closeness_to_eng(d["closeness"].values[0])
        
        if clos is None or auth is None:
            print(d, auth, clos)
            assert(False)
        
        df.append({
            "label_x": conv["authority"],
            "label_y": auth
        })


df = pd.DataFrame(df)

categories = ['0. Very respect', '1. Respect', '2. Normal']
cal_agreement(df, categories)

0.2235880945154796

In [39]:
df["label_x"].unique()

array(['1. Respect', '2. Normal', '0. Very respect'], dtype=object)

In [40]:
len(df[df["label_x"]!=df["label_y"]])

65

In [41]:
df["cnt"] = "1"
df[df["label_x"]!=df["label_y"]].groupby(["label_x", "label_y"]).count()

                                 cnt
label_x         label_y
0. Very respect 1. Respect         2
                2. Normal          8
1. Respect      0. Very respect    1
                2. Normal         20
2. Normal       1. Respect        34

In [42]:
# dd = df[(df["label_x"]!="1. Respect") | (df["label_y"]!="2. Normal")]
# cal_agreement(dd, categories)

In [43]:
(20+34)/65

0.8307692307692308

### Closeness

In [44]:
y1 = []
y2 = []
df = []
for conv in annotated_conversations:
    d = validated_labels[validated_labels["room_id"]==(conv["room_id"])]
    if len(d)!=0:
        N += 1
#         print(conv.keys())
#         print(conv["relationship"])
#         print(conv["closeness"])
#         print(conv["authority"])
        
        
        auth = authority_to_eng(d["authority"].values[0])
        clos = closeness_to_eng(d["closeness"].values[0])
        
        if clos is None or auth is None:
            print(d, auth, clos)
            assert(False)
        

        df.append({
            "label_x": conv["closeness"],
            "label_y": clos
        })


df = pd.DataFrame(df)

categories = ['1. Very Close', '2. Close', '3. Know each other', "4. Don't know each other"]
cal_agreement(df, categories)

0.7996903474387471

In [45]:
# categories = ['1. Very Close', '2. Close', '3. Know each other', "4. Don't know each other", "5. Don't like each other"]
# cal_agreement(df, categories)

In [46]:
df.groupby("label_x").count()

                          label_y
label_x
1. Very Close                  10
2. Close                       69
3. Know each other             61
4. Don't know each other      110

In [47]:
df.groupby("label_y").count()

                          label_x
label_y
1. Very Close                  19
2. Close                       80
3. Know each other             35
4. Don't know each other      116

In [48]:
# Original Label Distribution

dd = pd.DataFrame([[conv["closeness"], "X"] for conv in annotated_conversations])
dd.groupby(0).count()

                            1
0
1. Very Close             102
2. Close                  449
3. Know each other        230
4. Don't know each other  435
5. Don't like each other    5